/*.align-baseline {
    vertical-align: baseline;
  }
*/
/*a span {
    padding-top: -20px;
}
*/
.navbar{
    background: linear-gradient(to right,#18c4e3,#FC5C7D);
}
.navbar .navbar-nav .nav-link{
  color: #FFF;
}

.text-link:hover {
  color: red; /* Change the color to red when hovering over the link */
}

.container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Optional: adjust as needed */
}
.card {
  margin: 30px;
}

body {
background: url("/Images/dogs/background3.jpg");
background-repeat: no-repeat;
background-size: cover; /* This ensures the background image covers the entire viewport */
background-position: center; /* Center the background image horizontally and vertically */
background-color: rgba(255, 255, 255, 0.5); /* Set the background color with 50% opacity */
}

.carousel1 {
width:75% !important;
margin: auto !important;
}

img.medium {
  
  height: 400px;  
}
/* .carousel {
  margin-left: auto;
  margin-right: auto;
} */

.hover:hover {
  color: #FC5C7D;
}
.dropdown-menu>li> a:hover{
  /* Your hover effect styles */
  color: #FC5C7D; /* Change this to whatever color you desire */
}
